

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

/* PAGINA PRINCIPAL - INDEX */


.nombresgrupo{
    display: flex;
    flex-direction: row;

    font-family: 'Bebas Neue', cursive; 
    font-size: 15px;
    color: aliceblue;
    
}
.menu ul{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;

}
.item section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}
