
*{  
    background-color: black;
   
}
header{
    height: 150px;
    

}
header img{
    height: 200px; 

}
.menu ul{
   font-family: 'Bebas Neue', cursive;
  padding: 30px;
  flex-direction: row;
  margin: 2%;
    justify-content: space-between;
  
  

}

.menu a{
        text-decoration: none;
        color: white;
        font-size: 30px;    
       
    }
.menu{
    width: 900px;
    box-shadow: 0px 10px 10px -6px orange;
}
.contenedor {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 2%;
    padding: 0%;
    font-family: 'Bebas Neue', cursive;
}
.item {
    margin: 2%;
    justify-content: space-between;
}
.item a{
    text-decoration: none;
}

article .nombres {
    font-family: 'Bebas Neue', cursive; 
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}
p {
    color: orange;
    text-align: center; 
    
}


.nombresgrupo {
    font-family: 'Bebas Neue', cursive; 
    font-size: 20px;
    color: aliceblue;
   
   
    
    
}

.titulos{
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 10px orange;
    width: 210px;
}


.item img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.menu li a:hover{
    color: orange;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
